* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  font-family: Verdana, sans-serif;
}

.slides {
  position: relative;
  max-width: 900px;
  margin: auto;
}

.slide {
  display: none;
  height: 450px;
  background: #dedada;
  border-radius: 25px;
}

.slide-num {
  position: absolute;
  padding: 8px 12px;
  top: 0;
  color: #1b0303;
  font-size: 12px;
  z-index: 100;
}

.slide-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.slide-info {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}

.slide-img {
  position: relative;
  padding: 20px 30px 0 45px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.slide-img img {
  position: relative;
  width: auto;
  height: 100%;
  border-radius: 25px;
}

.slide-titles {
  padding: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slide-title {
  margin-bottom: 20px;
}

.slide-text {
  padding: 25px;
  letter-spacing: 2px;
  line-height: 25px;
}

.slide-text p {
  margin-bottom: 15px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #405250;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dots {
  text-align: center;
}

.dot {
  display: inline-block;
  margin: 0 2px;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.6s ease;
}

.active {
  background-color: #323131;
}

.dot:hover {
  background-color: #8d8c8c;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next {
    font-size: 11px;
  }
}
